{% extends 'base.html' %}
{% block content %}
<h2>{{ task.taskName }}</h2>

<br/>
Task : {{ task.taskName }}<br/>
Description : {{ task.taskDescription }}<br/>
Created by : {{ task.taskUserCreated }}<br/>
Date created : {{ task.taskDateCreated }}<br/>
Deadline : {{ task.taskDeadline }}<br/>


<form action="{% url 'testtask' id=task.id %}" method='POST'>{% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Update Task'/>
</form>

<ul>
    {% for c in taskcomments %}
        <li> {{ c.taskCommentDescription }} </li>
        <li> {{ c.taskUserCreated }} </li>        
        {% endfor %}
</ul>
<br/>

<a href="{% url 'newcomment' id=task.id %}">Add comment</a>
{% endblock %}